<!doctype html>
<html 	lang="pt"
	    xmlns="http://www.w3.org/1999/xhtml"
	    xmlns:th="http://www.thymeleaf.org"
	    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
	<title>CRUD - Spring</title>
	
	<link rel='stylesheet' th:href='@{/webjars/bootstrap/css/bootstrap.min.css}'/>
	<link rel="stylesheet" th:href='@{/webjars/font-awesome/css/font-awesome.min.css}'/>
	
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	
	<style>
	
	table tr{
		text-align: center;
	} 
	
	</style>
	
</head>
<body>
	
	<nav class="navbar navbar-dark bg-dark">
		<span class="navbar-brand">CRUD Spring-Boot</span>
	</nav>	
	
			<br />
			<br />
		

	<section class=""
			 layout:fragment="content">
			 Here content
	</section>
	
	
	
	
</body>
</html>