<!doctype html>
<html 	lang="pt"
	    xmlns="http://www.w3.org/1999/xhtml"
	    xmlns:th="http://www.thymeleaf.org"
	    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
	<title>CRUD - Spring</title>
	
	<link rel='stylesheet' th:href='@{/webjars/bootstrap/css/bootstrap.min.css}'/>
	<link rel="stylesheet" th:href='@{/webjars/font-awesome/css/font-awesome.min.css}'/>
	
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	
	<style>
	
	table tr{
		text-align: center;
	} 
	
	section{
		margin-bottom: 100px;
		
	}
	
	.bottom{
		padding: 20px 20px;
		background-color: #95afc0;
		color: white;	
	}
	.bottom a{
		color: white;
		margin-left: 10px; 
	}
	
	</style>
	
</head>
<body>
	
	<nav class="navbar navbar-dark bg-dark">
		<span class="navbar-brand">CRUD Spring-Boot</span>
	</nav>	
	
			<br />
			<br />
		

	<section class=""
			 layout:fragment="content">
			 Here content
	</section>
	
	<div class="bottom">
		<div class="row justify-content-md-center">
			By - <a href="http://github.com/allanwelerson" target="_blank"> Allan Welerson </a> 
		</div>
	</div>
	
	
	
	
</body>
</html>